@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Wendy+One&display=swap');
@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-flesh: #FFEBD8;
  --color-brown-orange: #CA731C;
  --color-p-gray: #7F7F7F;
  --color-choco: #985D22;
  --color-light-brown: #C3A98F;
  --color-white-button: #F6F6F6;
  
}


.font-wendy {
  font-family: 'Wendy One', sans-serif;
}  

.font-league {
  font-family: 'League Spartan' , sans-serif;
}

.bg-paws-gradient {
  background: linear-gradient(180deg, #CA731C 15%, #E67809 60%, #64390E 90%);
}